# Chore
.vscode/
.workspace/

# Text
*.txt

# Biner
*.dat
*.bin
*.exe
*.o
*.obj

# Dokumen
*.log
*.PDF
*.pdf
*.docx
*.png
*.jpg
*.rar
*.zip

# Lain2
cpp_curriculum_master.md
coba.cpp
Lat-Dasar-CobaLagi.cpp
catatan.cpp
catatan2.cpp


#Git Praktikum
**/Lat-Praktikum/