# Text
*.txt

# Biner
*.dat
*.bin
*.exe
*.o
*.obj

# Folder setting editor
.vscode/

*.log


#Lain2
.workspace/
cpp_curriculum_master.md

coba.cpp
CV-Gega.html

Lat-Dasar-CobaLagi.cpp
catatan.cpp
catatan2.cpp