
# Text
*.txt

# Biner
*.dat
*.bin
*.exe
*.o
*.obj

# Folder setting editor
.vscode/

*.log
*PDF

#Lain2
.gitignore
.workspace/
cpp_curriculum_master.md

coba.cpp

Lat-Dasar-CobaLagi.cpp
catatan.cpp
catatan2.cpp

*.docx
*.png
*.jpg

#Git Praktikum
**/Lat-Praktikum/